.ant-form-item-label label {
  color: #fff !important;
}

.btn-submit {
  margin-bottom: 0 !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.btn-submit button {
  min-width: 120px;
  font-weight: bold;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

:where(.css-dev-only-do-not-override-mzwlov).ant-btn-primary:disabled {
  color: #fff;
  background: #1677ff;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
  opacity: 0.5;
}

.btn-yellow{
  color: #000;
  background: #ecdb3b;
}

.btn-green{
  color: #000;
  background: #21a548;
}
.css-input{
  display: inline-block;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.css-input:focus {
  border-color: #40a9ff;
  outline: none;
  box-shadow: 0 0 5px rgba(64, 169, 255, 0.5);
}

.css-input::placeholder {
  color: #aaa;
}

