<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
</head>
<body>
    <p>Dear {{ name }},</p>
    <p>You requested a password reset for your account. Click the link below to reset your password:</p>
    <p><a href="{{ link }}">Reset Password</a></p>
    <p>Best regards,<br>UTE team</p>
    <p><img width="100px" height="100px" src="https://scontent.fsgn8-3.fna.fbcdn.net/v/t39.30808-1/308075712_473346641501684_231140492518030776_n.png?stp=dst-png_p200x200&_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_ohc=_tEDsOfY2gcQ7kNvgHJvoHE&_nc_ht=scontent.fsgn8-3.fna&oh=00_AYDKCFXQZvQPPWwPJ5rVh0Y4wzJM3AEPqIKN8nhKLqe-ww&oe=66620D27" alt="UTE"></p>
</body>
</html>
